@using FirstApplication.Models

@model IEnumerable<Department>
@{
    ViewBag.Title = "Index";
}

<h2>Department List</h2>
<br/>
<ul>
    @foreach(Department department in @Model)
    {
        <li>@Html.ActionLink(department.Name,"Index","Employee", new {departmentId=department.Id},null)</li>
    }
</ul>

