<html>
<head>
    <title>@ViewBag.Title</title>
    @*All the javascript and css files that are required by the
        application can be referenced here so that there is no
        need to reference them in each and every view*@
</head>
<body>
<h3>Partial View</h3>
<br/>
    @RenderBody()
</body>
</html>