@using DeletingMultipleRowsInMvc.Models.Employee

@{
    ViewBag.Title = "Employee";
}

<h2>Employee</h2>

<tr>
    <td>
        <input type="checkbox" name="deleteIdEmployee" id="deleteIdEmployee" value="@Model."/>
    </td>
</tr>